@use 'sass:color';
@use 'styles' as *;

:host ::ng-deep {
    .popover__content {
        position: absolute;
        width: max-content;
        background-color: var(--color-white);
        padding: var(--size-small);
        border-radius: var(--size-small);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        top: 0;
        left: 0;

        &:focus {
          background-color: red;
        }

        button {
            display: flex;
            align-items: center;
            gap: var(--size-xxsmall);
            border-radius: var(--size-small);
            padding: var(--size-small);
            border: none;
            background-color: transparent;

            &:hover {
                cursor: pointer;
                background-color: color.adjust($color-background, $lightness: -10%)
            }
        }
    }
}